{% load markdown_extras %}

<div class="accordion accordion-flush bg-pink"
    id="accordionFlushExample">
    {% for faq in faqs %}
    <div class="accordion-item">
        <h2 class="accordion-header"
            id="flush-heading{{faq.id}}">
            <button class="accordion-button collapsed bg-pink"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapse{{faq.id}}"
                aria-expanded="false"
                aria-controls="flush-collapse{{faq.id}}">
                <span class="rounded-circle btn-purple badge px-2">
                    {{ forloop.counter }}</span>
                <span class="mb-0 mx-lg-2 text-purple fw-bold">{{faq.question|markdown|safe}}</span>
            </button>
        </h2>
        <div id="flush-collapse{{faq.id}}"
            class="accordion-collapse collapse bg-pink"
            aria-labelledby="flush-heading{{faq.id}}"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{faq.details|markdown|safe}}.</div>
        </div>
    </div>
    {% endfor %}
</div>

