{% extends 'base.html' %}

{% load static %}

{% load markdown_extras %}

{% block head_title %}
Home - 
{% endblock head_title %}


{% block content %}
{% include 'home/carousel.html' %}
<div class="row">
    <div class="col-lg-2 min-vh-100 content-to-hide">
        <div id="list-example"
            class="list-group side-nav">
            <div class="d-flex">
                <a style="height: 2.5rem; width:1rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#what-we-do">
                </a>
                <span style="cursor:pointer;"
                    onclick="location.href='#what-we-do';"
                    class="m-lg-2 text-muted">What we do</span>
            </div>
            <div class="d-flex">
                <a style="height: 2.5rem; width:2rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#faqs">
                    <span class="mt-lg-2 mx-lg-4 text-muted">FAQs</span>
                </a>
            </div>
            <!-- <div class="d-flex">
                <a style="height: 2.5rem; width:2rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#psea">
                    <span class="mt-lg-2 mx-lg-4">PSEA</span>
                </a>
            </div> -->
            <div class="d-flex">
                <a style="height: 2.5rem; width:2rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#myths-and-facts">
                    <span class="mt-lg-2 mx-lg-4 text-muted">Myths</span>
                </a>
            </div>
        </div>
    </div>
   
    <div class="col-lg-8 mt-5">
        <div data-bs-spy="scroll"
            data-bs-target="#list-example"
            data-bs-smooth-scroll="true"
            class="scrollspy-example"
            tabindex="0">
         
            <section id="what-we-do">
            <!-- <section data-bs-target="what-we-do"> -->
                <h1 class="text-center display-3 fw-bold mt-5">What We do</h1>
                <hr>
                <div class="row">
                    <div class="col-lg-10 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="col-lg-6 px-5">
                                <br><br><br>
                    
                                <p class="px-5 text-end">The application
                                    contains basic
                                    information, the
                                    dynamics of abuse, common myth, laws,
                                    orders of protection and safety pathways
                                    for
                                    Gender-Based Violence.
                                </p>
                                <hr>
                                <div class="px-3 my-5 text-end">
                                    <a class="btn btn-purple btn-lg rounded-pill px-5 py-1 text-white bw-bold"
                                        href="">Download app</a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 mx-sm-auto d-flex justify-content-center">
                                <img class="mx-sm-auto" height="400rem"
                                    src="{% static 'img/heraid-app-phone-logo.png' %}"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="faqs">
                <br><br><br>
                <br><br><br>
                <h1 class="text-center display-3 fw-bold">FAQs</h1>
                <hr>
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-lg-6">
                        {% include 'home/faqs-accordion.html' %}
                    </div>
                </div>
            </section>
            <br><br>
            <section id="myths-and-facts">
                <h1 class="text-center display-3 fw-bold">Myths and Facts</h1>
                <hr>
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-lg-6">
                        {% include 'home/myths-and-facts-list-group.html' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}