<div class="my-3">
    <div class="accordion"
        id="accordionExample">
        {% for myth_and_fact in myths_and_facts %}
        <div class="accordion-item">
            <h2 class="accordion-header"
                id="heading{{myth_and_fact.id}}">
                <button
                    class="accordion-button collapsed border-0 border-bottom"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{myth_and_fact.id}}"
                    aria-expanded="false"
                    aria-controls="collapse{{myth_and_fact.id}}">
                    {{myth_and_fact.title|capfirst}}.
                </button>
            </h2>
            <div id="collapse{{myth_and_fact.id}}"
                class="accordion-collapse collapse"
                aria-labelledby="heading{{myth_and_fact.id}}"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-1 col-sm-1">
                            <span class="material-symbols-outlined">
                                task_alt
                            </span>
                        </div>
                        <div class="col-lg">
                            {{myth_and_fact.details|capfirst}}.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>