    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for right in rights %}
        <div class="col">
            <div class="card bg-pink border-3 border border-dark" data-bs-toggle="modal"
            data-bs-target="#exampleModal{{right.id}}">
                <br>
                <div class="card-body">
                    <h5 class="card-title text-center">
                        <span
                            class="fw-bold text-dark">{{right.title|title}}</span>
                    </h5>
                    <div class="text-center">
                        <!-- Button trigger modal -->
                        <span type="button"
                            class="text-purple fw-bold text-uppercase"
                           >
                            Read More
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% include 'rights/know_your_rights_modal.html' %}