<!-- Modal -->

{% for right in rights %}
<div class="modal fade"
    id="exampleModal{{right.id}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    id="exampleModalLabel">{{right.title|title}}</h1>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="text-center py-5">
                {% if right.doc %}
                <a target="_blank"
                    href="{{right.doc.url}}">{{right.title|title}}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}