{% extends 'base.html' %}

{% load static %}

{% block head_title %}
Resource Information
{% endblock head_title %}


{% block content %}

<div class="row">
    <div class="col-lg-2 min-vh-100 content-to-hide">
        <div id="list-example"
            class="list-group side-nav">
            <div class="d-flex">
                <a style="height: 2.5rem; width:1rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#types-of-abuse">
                </a>
                <span style="cursor:pointer;"
                    onclick="location.href='#types-of-abuse';"
                    class="m-lg-2">Types of Abuse</span>
            </div>
            <div class="d-flex">
                <a style="height: 2.5rem; width:2rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#screening">
                </a>
                <span style="cursor:pointer;"
                    onclick="location.href='#screening';"
                    class="m-lg-2">Screen Questions</span>
            </div>
            <div class="d-flex">
                <a style="height: 2.5rem; width:2rem;"
                    class="border-3 text-dark border-dark border mb-2 rounded-circle list-group-item list-group-item-action"
                    href="#signs-and-prevention">
                </a>
                <span style="cursor:pointer;"
                    onclick="location.href='#signs-and-prevention';"
                    class="m-lg-2">Signs and Prevention</span>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12">
        <div data-bs-spy="scroll"
            data-bs-target="#list-example"
            data-bs-smooth-scroll="true"
            class="scrollspy-example"
            tabindex="0">
            <br><br>
            <section id="types-of-abuse">
                <h1 class="text-center display-3 fw-bold">Types of Abuse</h1>
                <hr>
                <br>
                <div
                    class="bg-secondary text-muted mx-auto rounded-border col-lg-6 col-sm-12 px-sm-5">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    uj
                </div>
                <p class="mx-auto col-lg-7 my-5 text-center">Gender-based
                    violence is a
                    phenomenon deeply rooted in gender inequality and
                    continues to be one of the most notable human rights
                    violations within all
                    societies.
                    Gender-based violence is violence directed against a person
                    because of
                    their gender.</p>
                {% include 'resources/types_of_abuse_card.html' %}
            </section>
            <br><br>
            <section id="screening">
                <h1 class="text-center display-3 fw-bold">Screening Questions
                </h1>
                <hr>
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-lg-6">
                        {% include 'resources/screening-list-group.html' %}
                    </div>
                </div>
            </section>
            <br><br>
            <section id="signs-and-preventions">
                <h1 class="text-center display-3 fw-bold">Signs and Preventions
                </h1>
                <hr>
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-lg-6">
                        {% include 'home/myths-and-facts-list-group.html' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock content %}