<div class="col-lg-12 mx-auto">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for abuse in types_of_abuse %}
        <div class="col-lg-4 col-md-12 col-sm-12 mx-lg-auto">
            <a class="text-decoration-none"
                href="{% url 'resources:resource-detail' abuse.pk %}">
                <div class="card bg-pink">
                    <!-- <img src="..."
                class="card-img-top"
                alt="..."> -->
                    <div style="height: 100%; width:100%;"
                        class="bg-secondary text-muted">
                        <br><br><br><br><br><br><br><br><br>
                    </div>
                    <br>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <p
                                class="btn btn-info btn-lg rounded-pill text-dark">
                                {{abuse.title|title}}</p>
                        </h5>
                        <!-- <p class="card-text mt-3">{{abuse.details|title|truncatechars:160}}.</p> -->
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>