@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f6e7f2 !important;
}

/* carousel */

.carousel-item {
    height: 32rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* carousel */

.side-nav {
    position: fixed;
    bottom: 2%;
    left: 2rem;
}

.bg-pink {
    background-color: #f6e7f2 !important;
}

.btn-purple {
    background-color: #963279 !important;
}

.btn-blue {
    background-color: #b4e2e4 !important;
}

.text-purple {
    color: #963279;
}

.rounded-border {
    border-radius: 1.5rem !important;
}

@media (max-width: 767px) {
    .content-to-hide {
        display: none;
    }
}

#hotline-button {
    position: fixed;
    top:15%;
    right: 2%;
    z-index: 100000000;
}