<div id="hotline-button"
    class="">
    <p class="text-center">
        <a class="text-decoration-none content-to-hide"
            href="tel:911">
            <span
                class="material-symbols-outlined bg-white text-warning p-sm-3 p-lg-3 rounded-4 border border-3 border-warning shadow"
                style="font-size: 4rem;">
                call
            </span><br>
            <span class="btn btn-sm text-dark btn-warning mt-1">Get help
                now</span>
        </a>
    </p>
</div>