{% load static %}
<div class="text-center bg-pink py-5 text-dark w-100">
    <h4 class="display-5">Our Partners</h4><br>
    <div class="d-flex justify-content-center container">
        <a title="chaitech"
            href="https://chai.technology/"
            target="_blank"
            class="text-decoration-none text-dark mx-5">
            <img class="bg-light"
                style="height: 5rem;"
                src="{% static 'img/chaitech.png' %}"
                alt=""><br>
            Chaitech
        </a>
        <a title="kingship"
            href="https://swelanauguste.digital/"
            target="_blank"
            class="text-decoration-none text-dark mx-5">
            <img class=""
                style="height: 5rem;"
                src="{% static 'img/kingship-logo.png' %}"
                alt=""><br>
            kingship
        </a>
    </div><br>
</div>